@use '../../styles/files/rds-variables' as *;

.cu-carleton360 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--rds--spacing-x-small);
    width: 100%;
    max-width: var(--rds--layout-wide-size);
    margin-inline: auto;
    overflow: hidden;
    text-align: center;
    background-color: var(--rds--color-grey-pale);
    border-radius: var(--rds--radius-md);

    .cu-buttongroup {
        margin-top: var(--rds--spacing-medium);
    }
}

.cu-carleton360__container {
    padding: var(--rds--spacing-x-large) var(--rds--spacing-large);

    @media (min-width: $rds-media-query-md) {
        padding-inline: var(--rds--spacing-x-large);
    }
}

.cu-carleton360__logo {
    display: flex;
    max-width: 24rem;
    width: 100%;
    margin-inline: auto;
    margin-bottom: var(--rds--spacing-x-small);
}

.cu-carleton360__description {
    margin: 0;
    color: var(--rds--color-black);
}
