@use '../../styles/auto/variables' as *;

.cu-wideimage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--rds--radius-md);
    background-size: cover;
    padding-block: var(--rds--spacing-2-x-large);

    &.alignfull {
        border-radius: 0;
    }

    &--light {
        background-color: var(--rds--color-grey-pale);
    }

    &--dark {
        background-color: var(--rds--color-black);
    }

    &--image {
        padding-block: var(--rds--spacing-2-x-large);

        @media (min-width: $rds-media-query-lg) {
            padding-block: calc(var(--rds--spacing-2-x-large) * 1.5);
        }

        @media (min-width: $rds-media-query-xl) {
            padding-block: calc(var(--rds--spacing-2-x-large) * 2);
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, var(--cu-wideimage-overlay, 0.7));
            z-index: 1;
        }
    }

    &--light .cu-wideimage__content {
        color: var(--rds--color-grey-dark);
    }

    &--dark .cu-wideimage__content,
    &--image .cu-wideimage__content {
        color: var(--rds--color-white);
    }
}

.cu-wideimage__content {
    position: relative;
    z-index: 2;
    max-width: var(--rds--layout-content-size);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--rds--spacing-x-large);

    > * + * {
        margin-top: var(--rds--spacing-large);
    }
}
